# Terraform sensitive files
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl
*.tfplan

# Function deployment artifact
function.zip

# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/
*.egg-info/
dist/
build/

# macOS
.DS_Store
.vscodelocal.settings.json
tfplan
*.tfplan
.vscode/
.local/
